jupyterlab
numpy
pandas
scikit-learn
matplotlib
requests 
Pillow
scikit-image
torch
torchinfo
torchaudio
seaborn
torch-summary
jupyterlab-lsp
torchvision
ipywidgets
ray
transformers
datasets
tqdm
botorch
jedi-language-server
